<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link rel="stylesheet" href="/css/main.css">
  <body>
  <div class="container">
    <nav>
      <div class="nav-wrapper teal">
        <a href="/" class="brand-logo center">My Cats!</a>
      </div>
    </nav>
    {{{ body }}}
    <hr>
    <p>Copyright 2021 Courtney Hoppus</p>
  </div>
  </body>
</html>
