<!DOCTYPE html>
<html>
  <body class="home">
    <div id="root"></div>
    <script type="text/babel">

      const cats = {{{ cats }}}

      const Cats = (props) => {
        const listCats = props.cats.map((cat) =>
          <li key={ cat._id }>
            <div className="col s12 m6 center">
              <div className="card blue-grey lighten-3">
                <div className="card-content black-text center" >
                  <span className="card-title">
                    Learn more about
                  </span>
                </div>
                <div className="card-action">
                  <button className="btn-large" onClick={ props.clickHandler }>
                    { cat.name }
                  </button>
                </div>
              </div>
            </div>
          </li>
          );
        return <ul>{ listCats }</ul>;
      }

      const CatDetail = (props) => {
        return (
          <div className="col s12 m6 center">
            <div className="card blue-grey lighten-3">
              <div className="card-content black-text center" >
                <span className="card-title">
                  Details of Selected Cat: 
                </span>
                <form className="center">
                  <div className="row">
                    <label className='black-text' htmlFor='name'>
                      Name: 
                    </label>
                    <div className='input-field inline'>
                      <input
                        onChange={ props.handleChange }
                        value={ props.cat.name || '' }
                        className='input-field inline center'
                        type="text"
                        id="name" />
                    </div>
                  </div>
                  <div className="row">
                    <label className='black-text' htmlFor='number'>
                      Number: 
                    </label>
                    <div className='input-field inline'>
                      <input
                        onChange={ props.handleChange } 
                        value={ props.cat.number || '' } 
                        className='input-field inline center' 
                        type="text" 
                        id="number" />
                    </div>
                  </div>
                    {{!-- <div className="row">
                      <label className='black-text' htmlFor='fat'>
                        Fat? 
                      </label>
                      <div className='input-field inline'>
                        <input
                          onChange={ handleFat }
                          value={ fat || '' }
                          className='input-field inline center'
                          type="text"
                          id="fat" />
                      </div>
                    </div> --}}
                  <div className="row">
                    <label className='black-text' htmlFor='colors'>
                      Colors: 
                    </label>
                    <div className='input-field inline'>
                      <input
                        onChange={ props.handleChange }
                        value={ props.cat.colors || '' }
                        className='input-field inline center'
                        type="text"
                        id="colors" />
                    </div>
                  </div>
                  <div className="row">
                    <button
                      className="btn waves-effect waves-light left"
                      name="clear"
                      onClick={ props.clearForm }
                    >
                      Clear
                    </button>
                    <button
                      className="btn waves-effect waves-light"
                      name="save"
                      onClick={ props.saveForm }
                    >
                      Save
                    </button>
                    <button
                      className="btn waves-effect waves-light right"
                      name="delete"
                      onClick={ props.deleteForm }
                    >
                      Delete
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        );
      }

      class CatApp extends React.Component {
        constructor(props) {
          super(props);
          this.state = {
            items: {{{ cats }}},
            currentItem: {}
          };
          this.selectItem = this.selectItem.bind(this);
          this.handleChange = this.handleChange.bind(this);
          this.clearForm = this.clearForm.bind(this);
          this.saveForm = this.saveForm.bind(this);
          this.deleteForm = this.deleteForm.bind(this);
        }

        // event handler
        selectItem = (event) => {
          const found = this.state.items.find((item) => {
            return item.name === event.target.innerHTML;
          });
          this.setState({ currentItem: found });
        }

        handleChange = (event) => {
          let newItem = this.state.currentItem;
          newItem[event.target.id] = event.target.value;
          this.setState({ currentItem: newItem });
        }

        clearForm = (event) => {
          event.preventDefault();
          this.setState({ currentItem: {} });
        }

        saveForm = (event) => {
          event.preventDefault();
        }

        deleteForm = (event) => {
          event.preventDefault();
        }

        render() {
          return (
            <>
            <div className="row">
              <Cats cats={ this.state.items } clickHandler={ this.selectItem } />
            </div>
            <CatDetail
              cat={ this.state.currentItem }
              handleChange={ this.handleChange }
              clearForm={ this.clearForm }
              saveForm={ this.saveForm }
              deleteForm={ this.deleteForm }
            />
            </>
          );
        }
      }

      ReactDOM.render(
        <CatApp />, document.getElementById('root')
      );

    </script>
  </body>
</html>
