<html>
  <body class="home">
    <a href="/"><h1>HOME</h1></a>
    <hr>
    <h3>Cats</h3>
    {{#if cats}}
      {{#each cats}}
        <table id="details">
        <tr>
          <td>NAME</td><td>{{name}}</td>
        </tr>
        <tr>
          <td>DETAILS</td><td><a href="/detail?name={{name}}">Link</a></td>
        </tr>
        </table>
      {{/each}}
    {{else}}
      {{{body}}}
    {{/if}}
  </body>
</html>
